{% extends "headder.html" %}

{% block body %}
<div style="margin: 20px;">

</div>

<div class="row">
    {% if products %}
    {%for id, name, description, price, has_default in products%}
    <div class="card text-white bg-dark mb-3" style="width: 16rem; margin: 5px; max-height:500px;">
        {% if has_default == True %}
        <img class="card-img-top" src="{{ url_for('static', filename='product_images/')}}{{id}}/default.jpg"/>
        {% else %}
        <img class="card-img-top" src="{{ url_for('static', filename='no_photo.png')}}"/>

        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                {{description}}</p>
            <p class="card-text" style="float: right; color: #bea3a9">KUN {{price}}kr</p>
        </div>

        <a href="/product/{{id}}/" class="btn btn-secondary">Gå til produkt</a>
    </div>
    {% endfor %}
    {% endif %}

</div>

{% endblock%}
