{% extends "headder.html" %}

{% block body %}
{% set total_price = [0] %}
<div class="card" style="margin-top: 5%">
    <div class="card-header">
        <h1>Her er din kurv, du kan her se de ting du har lagt i kurven</h1>
    </div>
    <div id="accordion">
        {% if products|length <= 0 %}
        <div class="card">
            <h5 class="card-title">Der er ikke noget i din kurv</h5>
        </div>
        {% else %}
        {% for amount, id, name, description, price in products %}
        {% set _ = total_price.pop()  %}
        {% set _ = total_price.append(_ + (price|int * amount|int))%}
        <div class="card">
            <span class="card-header" id="headingOne" style="margin-top:auto; margin-bottom:auto;">
                  <span class="card-title"
                        style="font-size: 20px; margin-top:auto; margin-bottom:auto;">{{name}}
                  </span>
                  <button class="btn btn-link" data-toggle="collapse" data-target="#{{id}}" aria-expanded="true"
                          aria-controls="collapseOne">
                        <p style="font-size: 20px; margin-left: 40%; margin-top:auto; margin-bottom:auto;">Beskrivelse</p>
                  </button>
                  <span style="float:right; margin-top: 1.7%">
                      {{price}} kr
                  </span>

                  <span style="float: right; margin-right: 10%">
                        <span class="badge badge-secondary" style="font-size: 20px;">
                            {{amount}}
                        </span>

                        <form method="post" class="btn-group-vertical btn-group-sm" role="group" aria-label="...">
                            <button type="submit" class="btn btn-secondary" name="add" value="{{id}}">&#11165;</button>
                            <button type="submit" class="btn btn-secondary" name="subtract"
                                    value="{{id}}">&#11167;</button>
                        </form>
                  </span>
            </span>
            <div id="{{id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    {{description}}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="card">
        <span class="badge badge-secondary" style="font-size: 20px; padding-top: 20px; padding-bottom: 20px;">
                            total: {{total_price[0]}} kr
        </span>
    </div>
</div>

{% endblock %}
