{% extends "headder.html" %}

{% block body %}
<div style="margin: 0 auto;">
    <form method="POST">
        <button class="btn btn-primary" value="clear" name="clear" type="submit">CLEAR SESSION</button>
    </form>
</div>

{% endblock %}
