{% extends "headder.html" %}

{% block body %}

<div style=" margin-left: 15%; margin-top: 20px;">
    <div class="card" style="float: left; margin-right: 5px;">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% if images|length > 1 %}
                {% for index in range(0,images|length) %}
                <li data-target="#carouselExampleIndicators"
                    data-slide-to="{{index}} {% if index == 0 %} active {% endif%}"></li>
                {% endfor %}
                {% endif %}

            </ol>
            <div class="carousel-inner">
                {% if images|length == 0 %}
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ url_for('static', filename='no_photo.png')}}" alt="image"
                         style="  max-width: 500px; height: 500px; "">
                </div>
                {% else %}
                {% for index in range(0,images|length)%}
                <div class="carousel-item {%if index == 0 %} active {% endif %}">
                    <img class="d-block w-100"
                         src="{{ url_for('static', filename='product_images/')}}{{id}}/{{images[index]}}"
                         alt="{{images[index]}}" style="  max-width: 500px; height: 500px; ">
                </div>
                {% endfor %}
                {%endif%}

            </div>
            {% if images|length > 1%}
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="card" style="width: 18rem; height: 500px;">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
        </div>
        <div class="card-footer">
            Kun {{price}}
            <form method="post">
                <button style="float:right;" class="btn btn-secondary" type="submit" name="put_in_basket" ,
                        value="put_in_basket">Put i kurv
                </button>
            </form>

        </div>
    </div>
</div>

{% endblock%}
